<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Khong co quyen truy cap</title>
</head>
<body>
<main layout:fragment="content">
    <div class="panel">
        <h1>403 - Khong co quyen truy cap</h1>
        <p>Ban khong co quyen thuc hien thao tac nay.</p>
        <a class="btn primary" th:href="@{/}">Ve trang chu</a>
    </div>
</main>
</body>
</html>
