# =================== DATABASE ===================
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=fullshop;encrypt=false;trustServerCertificate=true;sslProtocol=TLSv1.2;characterEncoding=UTF-8
DB_USERNAME=sa
DB_PASSWORD=YourPassword123

# =================== SERVER ===================
SERVER_PORT=8082

# =================== SMTP (Gmail) ===================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=youraccount@gmail.com
MAIL_PASSWORD=your-16-char-app-password

# =================== CLOUDINARY ===================
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# =================== ADMIN MAC DINH ===================
ADMIN_EMAIL=admin@iotstar.vn
ADMIN_PASSWORD=123456
